.see_more {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;

    margin-top: 30px;
}

.see_more__line {
    height: 2px;
    background-color: var(--cl-grey);
    flex-grow: 1;
    transition: all 0.3s ease-in;
}

.see_more:hover {
    cursor: pointer;
}

.see_more:hover .see_more__line {
    background-color: var(--cl-red);
}